* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #343a40;
    overflow: hidden;
    padding-bottom: 20px;
}

nav {
    background: #343a40;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

main .chat-box {
    background: #343a40;
    width: 40%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


main .chat-box .user-text {
    background: #495057;
    width: 95%;
    min-height: 70px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    font-weight: 500;
    white-space: pre-wrap;
    color: #fff;
}

main .chat-box .assistant-text {
    background: #495057;
    width: 95%;
    min-height: 70px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    padding: 20px;
    border-radius: 5px;
    white-space: pre-wrap;
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    font-weight: 500;
    white-space: pre-wrap;
    color: #fff;
}



footer {
    background: #343a40;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

footer .input-box {
    background: #495057;
    width: 45%;
    height: 70px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}


footer .input-box input {
    background: none;
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 25px;
    color: #fff;
}

footer .input-box input::placeholder {
    color: #c3c3c3;
}

footer .input-box button {
    background: none;
    width: 10%;
    height: 100%;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 1.2rem;
    background-image: url(../images/send.svg);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
}

footer .input-box button:hover {
    cursor: pointer;
    transform: scale(1.15);
}